/* diem danh */
legend {
  text-align: center;
}
#diem_danh {
  width: 100px;
  height: 200px;
  margin-left: 50px;
  border: 2px solid;
}
/* tìm kiếm */
.search-container {
  margin-top: 50px;
  text-align: center;
}
#diem_danh {
  width: 200px;
  background-color: white;
}
#ngayThang {
  font-size: 20px; /* Thay đổi kích thước font chữ tại đây */
  color: black; /* Thay đổi màu sắc nếu cần */
  text-align: center;
}
#diemDanhBtn {
  width: 100px;
  background-color: gold;
  border-radius: 10%;
  border: 0px;
  /* display: flex; Sử dụng flexbox */
  display: block;
  margin: auto;
}
#diemDanhBtn:hover {
  background-color: yellow;
}
#soNgayLienTiep {
  text-align: center;
}
#diemDanhBtn:active {
  background-color: grey;
}
